<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @quantile_period.name %>
</p>


<%= link_to 'Edit', edit_quantile_period_path(@quantile_period) %> |
<%= link_to 'Back', quantile_periods_path %>
